<html lang="en">
{% block content %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Military Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">
<link href="https://demo.dashboardpack.com/architectui-html-free/main.css" rel="stylesheet"></head>
<body>
    <center>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <div class="app-header header-shadow">
            <div class="app-header__logo">
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            {% comment %} <i class="fa fa-ellipsis-v fa-w-6"></i> {% endcomment %}
                        </span>
                    </button>
                </span>
            </div>    <div class="app-header__content">
                <div class="app-header-left">
                    <div class="search-wrapper">
                        <div class="input-holder">
                            <input type="text" class="search-input" placeholder="Type to search">
                            <button class="search-icon"><span></span></button>
                        </div>
                        <button class="close"></button>
                    </div>
                    <ul class="header-menu nav">
                        {% comment %} <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                                <i class="nav-link-icon fa fa-database"> </i>
                                Statistics
                            </a>
                        </li>
                        <li class="btn-group nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                                <i class="nav-link-icon fa fa-edit"></i>
                                Projects
                            </a>
                        </li>
                        <li class="dropdown nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                                <i class="nav-link-icon fa fa-cog"></i>
                                Settings
                            </a>
                        </li> {% endcomment %}
                    </ul>        </div>
                <div class="app-header-right">
                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="btn-group">
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                            {% comment %} <img width="42" class="rounded-circle" src="assets/images/avatars/1.jpg" alt="">
                                            <i class="fa fa-angle-down ml-2 opacity-8"></i> {% endcomment %}
                                        </a>
                                        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                            <button type="button" tabindex="0" >User Account</button>
                                            <button type="button" tabindex="0" ><a href='/mains/'>Soiider</a></button>
                                            <h6 tabindex="-1" >Header</h6>
                                            <button type="button" tabindex="0" ><a href='ammo/data'>Ammonition</a></button>
                                            <div tabindex="-1" ></div>
                                            <button type="button" tabindex="0" ><a href='mission/data'>Missions</a></button>
                                            <div tabindex="-1" ></div>
                                            <button type="button" tabindex="0" ><a href='ter/data'>Terrorsts</a></button>

                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content-left  ml-3 header-user-info">
                                    <div class="widget-heading">
                                        
                                    </div>
                                    <div class="widget-subheading">
                                        VP People Manager
                                    </div>
                                </div>
                                <div class="widget-content-right header-user-info ml-3">
                                    <button type="button" class="btn-shadow p-1 btn btn-primary btn-sm show-toastr-example">
                                        <i class="fa text-white fa-calendar pr-1 pl-1"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>        </div>
            </div>
        </div>        <div class="ui-theme-settings">
            {% if messages %}
            {
                {% for message in messages %}
                <div class="alert alert-{{message.tags}}">
                    {{message.tags}}
                </div>
                {% endfor %}
            }
            {% endif %}
            <div class="theme-settings__inner">
                <div class="scrollbar-container">
                    <div class="theme-settings__options-wrapper">
                        <h3 class="themeoptions-heading">
                        </h3>
                        <div class="p-3">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left mr-3">
                                                <div class="switch has-switch switch-container-class" data-class="fixed-header">
                                                    <div class="switch-animate switch-on">
                                                        <input type="checkbox" checked data-toggle="toggle" data-onstyle="success">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-content-left">
                                                {% comment %} <div class="widget-heading">Fixed Header
                                                </div>
                                                <div class="widget-subheading">Makes the header top fixed, always visible!
                                                </div> {% endcomment %}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                              
                            </ul>
                        </div>
                        <h3 class="themeoptions-heading">
                            {% comment %} <div>
                                Header Options
                            </div>
                            <button type="button" class="btn-pill btn-shadow btn-wide ml-auto btn btn-focus btn-sm switch-header-cs-class" data-class="">
                                Restore Default
                            </button> {% endcomment %}
                        </h3>
                        <div class="p-3">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <h5 class="pb-2">
                                    </h5>
                                 
                                </li>
                            </ul>
                        </div>
                        <h3 class="themeoptions-heading">
                            {% comment %} <div>Main Content Options</div>
                            <button type="button" class="btn-pill btn-shadow btn-wide ml-auto active btn btn-focus btn-sm">Restore Default
                            </button> {% endcomment %}
                        </h3>
                        <div class="p-3">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    {% comment %} <h5 class="pb-2">Page Section Tabs {% endcomment %}
                                    </h5>
                                    <div class="theme-settings-swatches">
                                        <div role="group" class="mt-2 btn-group">
                                            {% comment %} <button type="button" class="btn-wide btn-shadow btn-primary btn btn-secondary switch-theme-class" data-class="body-tabs-line">
                                                Line
                                            </button>
                                            <button type="button" class="btn-wide btn-shadow btn-primary active btn btn-secondary switch-theme-class" data-class="body-tabs-shadow">
                                                Shadow
                                            </button> {% endcomment %}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>        <div class="app-main">
                <div class="app-sidebar sidebar-shadow">
                    <div class="app-header__logo">
                        <div class="header__pane ml-auto">
                            <div>
                                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="app-header__mobile-menu">
                        <div>
                            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="app-header__menu">
                        <span>
                            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                                <span class="btn-icon-wrapper">
                                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                                </span>
                            </button>
                        </span>
                    </div>    <div class="scrollbar-sidebar">
                        <div class="app-sidebar__inner">
                            <ul class="vertical-nav-menu">
                                <li class="app-sidebar__heading">Dashboards</li>
                               
                                <li class="app-sidebar__heading">Forms</li>
                                <li>
                                    
                                    <a href="   /mains">
                                        <i class="metismenu-icon pe-7s-mouse">
                                        </i>Soliders
                                    </a>
                                </li>
                                <li>
                                    <a href="/reg/data">
                                        <i class="metismenu-icon pe-7s-pendrive">
                                        </i>
                                            Regitment
                                        
                                    </a>
                                </li>
                                <li>
                                    <a href="/ammo/data">
                                        <i class="metismenu-icon pe-7s-eyedropper">
                                        </i>Ammonition
                                    </a>
                                </li>
                                <li>
                                    <a href="/mission/data">
                                        <i class="metismenu-icon pe-7s-pendrive">                                        </i>

                                            Missios
                                    </a>
                                </li>
                                <li>
                                    <a href="/ter/data">
                                        <i class="metismenu-icon pe-7s-pendrive"></i>
                                            Terrorsts
                                        
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>    <div class="app-main__outer">
                    <div class="app-main__inner">
                        <div class="app-page-title">
                            <div class="page-title-wrapper">
                                <div class="page-title-heading">
                                    <div class="page-title-icon">
                                        <i class="pe-7s-car icon-gradient bg-mean-fruit">
                                        </i>
                                    </div>
                                    <div>
                                        <div class="page-title-subheading">This is an  dashboard for Regiments
                                        </div>
                                    </div>
                                </div>
                                <div class="page-title-actions">
                                    <button type="button" data-toggle="tooltip" title="Example Tooltip" data-placement="bottom" class="btn-shadow mr-3 btn btn-dark">
                                        {% comment %} <i class="fa fa-star"></i> {% endcomment %}
                                    </button>
                                    <div class="d-inline-block dropdown">
                                            {% comment %} <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-info">
                                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                                <i class="fa fa-business-time fa-w-20"></i>
                                            </span>
                                            Messageing section
                                        </button> {% endcomment %}
                                        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                            
                                        </div>
                                    </div>
                                </div>    </div>
                        </div>            <div class="row">
                            
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="main-card mb-3 card">

                                        <div class="btn-actions-pane-right">
                                            <div role="group" class="btn-group-sm btn-group">
                                                {% comment %} <button class="active btn btn-focus">Last </button>
                                                <button class="btn btn-focus">All Month</button> {% endcomment %}
                                            </div>
                                        </div>
                                    </div>
                                    <form target="_self"
                                    action='leave_letter'
      id="bootstrapForm"
      method="POST">
      {% csrf_token %}
    <fieldset>
        <h2>Vacation Request Form<br><small></small></h2>
    </fieldset>
    
    <fieldset>
        <legend for="1874755157">Name</legend>
        <div class="form-group">
            <input id="1729637716" type="text" name="entry.1729637716" class="form-control" required>
        </div>
    </fieldset>
    
    <fieldset>
        <legend for="184780103">Email</legend>
        <div class="form-group">
            <input id="1770396749" type="text" name="entry.1770396749" class="form-control" required>
        </div>
    </fieldset>
    
    <fieldset>
        <legend for="376082603">Phone Number</legend>
        <div class="form-group">
            <input id="589094590" type="text" name="entry.589094590" class="form-control" required>
        </div>
    </fieldset>
    

    
    <fieldset>
        <legend for="919003939">Type of time-off requested</legend>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1409180901" value="Vacation" required>
                    Vacation
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1409180901" value="Sick Leave" required>
                    Sick Leave
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1409180901" value="Maternity/Paternity" required>
                    Maternity/Paternity
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1409180901" value="Sick" required>
                    Sick
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1409180901" value="Bereavement" required>
                    Bereavement
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1409180901" value="Jury Duty" required>
                    Jury Duty
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1409180901" value="Time off without pay" required>
                    Time off without pay
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1409180901" value="Other" required>
                    Other
                </label>
            </div>
        </div>
    </fieldset>
    
    <fieldset>
        <legend for="1833993761">Start Date</legend>
        <div class="form-group">
            <input type="date" id="1989254035_date" placeholder="8/23/2019" class="form-control" required>
        </div>
    </fieldset>
    
    <fieldset>
        <legend for="861643251">End Date</legend>
        <div class="form-group">
            <input type="date" id="1403025287_date" placeholder="8/23/2019" class="form-control" required>
        </div>
    </fieldset>
    
    <fieldset>
        <legend for="388489461">Time-off comments</legend>
        <div class="form-group">
            <textarea id="1357270616" name="entry.1357270616" class="form-control" required></textarea>
        </div>
    </fieldset>
    <input type="hidden" name="fvv" value="1">
    <input type="hidden" name="fbzx" value="5356028641311999799">
    
    <input type="hidden" name="pageHistory" value="0">

    <input class="btn btn-primary" type="submit" value="Submit">
</form>
</div>
</div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha256-2Pjr1OlpZMY6qesJM68t2v39t+lMLvxwpa8QlRjJroA=" crossorigin="anonymous"></script>
<script>
$('#bootstrapForm').submit(function (event) {
    event.preventDefault()
    var extraData = {}
    {
        /* Parsing input date id=1989254035 */
        var dateField = $("#1989254035_date").val()
        var timeField = $("#1989254035_time").val()
        let d = new Date(dateField)
        if (!isNaN(d.getTime())) {
            extraData["entry.1989254035_year"] = d.getFullYear()
            extraData["entry.1989254035_month"] = d.getMonth() + 1
            extraData["entry.1989254035_day"] = d.getUTCDate()
        }
        if (timeField && timeField.split(':').length >= 2) {
            let values = timeField.split(':')
            extraData["entry.1989254035_hour"] = values[0]
            extraData["entry.1989254035_minute"] = values[1]
        }
    }
    {
        /* Parsing input date id=1403025287 */
        var dateField = $("#1403025287_date").val()
        var timeField = $("#1403025287_time").val()
        let d = new Date(dateField)
        if (!isNaN(d.getTime())) {
            extraData["entry.1403025287_year"] = d.getFullYear()
            extraData["entry.1403025287_month"] = d.getMonth() + 1
            extraData["entry.1403025287_day"] = d.getUTCDate()
        }
        if (timeField && timeField.split(':').length >= 2) {
            let values = timeField.split(':')
            extraData["entry.1403025287_hour"] = values[0]
            extraData["entry.1403025287_minute"] = values[1]
        }
    }
    $('#bootstrapForm').ajaxSubmit({
        data: extraData,
        dataType: 'jsonp',  // This won't really work. It's just to use a GET instead of a POST to allow cookies from different domain.
        error: function () {
            // Submit of form should be successful but JSONP callback will fail because Google Forms
            // does not support it, so this is handled as a failure.
            alert('Form Submitted. Thanks.')
            // You can also redirect the user to a custom thank-you page:
            // window.location = 'http://www.mydomain.com/thankyoupage.html'
        }
    })
})
</script>
</center>
</body>
</html>                                       
                                                
                <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        </div>
    </div>
<script type="text/javascript" src="https://demo.dashboardpack.com/architectui-html-free/assets/scripts/main.js"></script></body>
</html>
{% endblock %}