<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <style>
            {

body {
  font-family: "Poppins", sans-serif !important;
}

.headline {
  left: 130px;
} 
.clipped {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
}
@media screen and (max-width: 650px){
  .headline {
    left: 20px;
  } 
  .clipped {
    clip-path: none;
    max-height: 300px !important;
  }
}
            }
        </style>
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="d-sm-flex align-items-center justify-content-between w-100" style="height: 100vh;">
            <div class="col-md-4 mx-auto mb-4 mb-sm-0 headline">
              <h1 class="display-4 my-4 font-weight-bold">Enter Your <span style="color: #9B5DE5;"> Dream join</span></h1>
              <a href="/login/" class="btn px-5 py-3 text-white mt-3 mt-sm-0" style="border-radius: 30px; background-color: #9B5DE5;">Join army</a>
            </div>
            <!-- in mobile remove the clippath -->
            <div class="col-md-8 h-100 clipped" style="min-height: 350px; background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTe3ak_-Zg5MaNbOGYeZ7t0BxgwuPpPQAy1tg&usqp=CAU); background-position: center; background-size: cover;">
          
            </div>
          </div>
               
        <center>

        </center>
        <script src="" async defer></script>
    </body>
</html>